/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff; 
}

img{
    width: 100%;

}

body{
    color: var(--text-color);
}

.container{
    max-width: 1064px;
    margin: auto; 
    width: 100%;
}

section{
    padding: 4rem 0 3rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px 0;
}

#open-catalog{
    position: absolute;
    left: 0;
    top: 0;
    width: 5vh;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 0.7rem;
    margin-left: 2rem;
    transition: 0.3s;
}

#open-catalog:hover{
    color: var(--main-color);
}


.logo{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    font-size: 2rem;
}

#card-icon{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

#card-icon:hover{
    color: var(--main-color);
}


.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


.cart.active-cart{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem; 
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.section-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.total-title{
    font-size: 1rem;
    font-weight: 500;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    border: none;
    padding: 12px 20px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background: var(--text-color);
}

.total-price{
    margin-left: 0.5rem;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

#close-cart:hover{
    color: var(--main-color);
    font-size: 2.3rem;
}

.catalog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 360px;
    min-height: 90vh;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    margin-top: 10vh;
    padding-bottom: 30vh;
}

.catalog.active-catalog{
    left: 0;
}

.catalog-info{
    text-align: center;
    padding: 0.5rem;
    transition: 0.3s;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
 
.catalog-info:hover{
    cursor: pointer;
}

.catalog-info.active{
    color: var(--main-color);
    font-size: 2rem;
    cursor: pointer;
}

.catalog-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#close-catalog{
    position: absolute;
    top: 1rem;
    left: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

#close-catalog:hover{
    color: var(--main-color);
    font-size: 2.3rem;
}


.shop{
    margin-top: 2rem;
}

/* main */


/*shop content*/
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
}

.main{
    text-align:center ;
}

/* slider */

.slider{
    width: 105vh;
    height: 60vh;
    overflow: hidden;
    border: solid;
    display: flex;

}

.midle{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
} 

.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.7;
    border-radius: 10px;
    transition: all 0.4 ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all 0.6 ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1 :checked ~ .s1{
    margin-left: 0;
}

#r2 :checked ~ .s1{
    margin-left: -25%;
}

#r3 :checked ~ .s1{
    margin-left: -50%;
}

#r4 :checked ~ .s1{
    margin-left: -100%;
}

.product-box{
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 3px solid var(--text-color);
    transition: 1s;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5remß;
}

.price{
    font-weight: 600;
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0; 
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover{
   background: hsl(242, 32%, 17%);
}

.tab{
    display: none;
}

.tab.active-tab{
    display: block;
}